

h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: green;
  	font-family: cursive;
  	font-style:normal;
  	font-size: 50px;
  	font-weight: bold;  
}


i {
	margin: 0 auto;
	margin-left: 250px;
    font-size: 100px;
    color:green;

}

